<th:block xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<header xmlns:sec="http://www.w3.org/1999/xhtml">

    <nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" onclick="location.href='/home';" href="">Deals'N'Steals</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/products"></a>-->
<!--                    </li>-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/products" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/products">ALL PRODUCTS</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{'/products' (name='TOPS')}">TOPS</a>
                            <ul>
                                <li th:each="top : ${tops}">
                                    <a  class="dropdown-item" th:text="${top.name}" th:href="@{'/products' (name=${top.name})}"></a></li>
                            </ul>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{'/products' (name='BOTTOMS')}">BOTTOMS</a>
                                <ul>
                                    <li th:each="bottom : ${bottoms}">
                                        <a  class="dropdown-item" th:text="${bottom.name}" th:href="@{'/products' (name=${bottom.name})}"></a>
                                    </li>
                                </ul>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{'/products' (name='ACCESSORIES')}">ACCESSORIES</a>
                                <ul>
                                    <li th:each="acc : ${accessories}">
                                        <a  class="dropdown-item" th:text="${acc.name}" th:href="@{'/products' (name=${acc.name})}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="${hasRole('ROLE_ADMIN')}" class="nav-item">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>
                    <li sec:authorize="${hasRole('ROLE_ADMIN')}" class="nav-item">
                        <a class="nav-link" href="/admin">Statistics</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="${hasRole('ROLE_ADMIN')}">
                        <a class="nav-link dropdown-toggle "  id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMIN
                            <span class="badge1" >-</span>
<!--                            th:if="${new > 0}"-->
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <button  class="dropdown-item " href="/admin/orders">Orders
                            <div  class="badge bg-danger"> 0
<!--                                th:if="${new > 0}" th:text="${new}"-->
                            </div>
                            </button>
<!--                            th:if="${new > 0}" th:text="${new}"-->
                            <a class="dropdown-item" href="/admin/profit">Profit</a>
                        </ul>
                    </li>

                </ul>
                <form  class="d-flex">
                    <button onclick="location.href='/shopping-cart';" type="button" class="btn btn-outline-success  me-2 mb-2 mb-lg-0 ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"></path>
                        </svg>
                        Cart
                        <div th:if="${size > 0}" th:text="${size}" class="badge bg-success"></div>
                    </button>
                </form>
                <div class="d-flex" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="btn btn-outline-warning" type="submit">Login</a>
                </div>
                <div class="d-flex" sec:authorize="isAuthenticated()">
                    <a href="/logout" class="btn btn-outline-warning" type="submit">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</th:block>