<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<form method="POST" action="/products" enctype="multipart/form-data" >
    <!--<label for="image">Image</label>
    <input name="image" id="image" type="file">-->
    <div>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    </div>
    <div>
    <label>Size: </label>
    <select name="size">
        <option th:each="size : ${sizes}"
                th:value="${size}"
                th:text="${size}">
        </option>
    </select>
    </div>
    <div>
    <label for="price">Price: </label>
    <input type="number" name="price" id="price">
    </div>
    <div>
    <label>Category </label>
    <select name="category">
        <option th:each="cat : ${categories}"
                th:value="${cat?.name}"
                th:text="${cat?.name}">
        </option>
    </select>
    </div>
    <div>
    <label for="description">Description: </label>
    <input type="text" name="description" id="description">
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input name="image" id="image" type="file" accept="image/png, image/jpeg"/>
    </div>

    <button>Submit</button>
</form>
</body>
</html>