<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
    <table>
        <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}">product name</td>
                <td th:text="${product.size}">product size</td>
                <td th:text="${product.price}">product price</td>
                <td th:text="${product.category?.name}">product category</td>
                <td th:text="${product.description}">product description</td>
                <td>
                    <form method="POST" th:action="@{'products/{id}/delete' (id=${product.id})}">
                        <button>Delete</button>
                    </form>
                </td>
                <td>
                    //TODO: edit metod
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>