<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <form method="POST" th:action="@{/login}">
                <div class="form-group mb-2 mt-5">
                    <label for="username">Username:</label>
                    <input class="form-control"
                           type="text"
                           name="username"
                           id="username" />
                </div>
                <div class="form-group mb-2">
                    <label for="password">Password:</label>
                    <input class="form-control"
                           type="text"
                           name="password"
                           id="password" />
                </div>
                <div class="form-group">
                    <button class="btn btn-dark">Log in</button>
                </div>
            </form>
        </div>
    </div>
</th:block>