<th:block xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">

            <h3 class="jumbotron-heading">Shopping cart for
                <th:block th:if="${username}" th:text="${username}"></th:block>
            </h3>
        </div>
    </section>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container">
        <div class="row">
            <div th:if="${shoppingcart.products.size() <= 0}">
                <p>Cart is empty.</p>
            </div>
            <div class="col-12" th:if="${shoppingcart.products.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-dark">
                        <thead>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${shoppingcart.products}">
                            <td><img class="img-thumbnail" th:src="${product.base64Image}" width="200"></td>
                            <td th:text="${product.name}">product name</td>
                            <td th:text="${product.size}">product size</td>
                            <td th:text="'MKD '+${product.price}">product price</td>
                            <td th:text="${product.category?.name}">product category</td>
                            <td th:text="${product.description}">product description</td>
                            <td>
                                <form method="POST" th:action="@{'/shopping-cart/{id}/remove-product' (id=${product.id})}">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="${shoppingcart.cost}">total price</td>
                            <td>
                                <form method="GET" th:action="@{/make-order}">
                                <button>Make order</button>
                                </form>
                            </td>
                            <td>
                                <form method="POST" th:action="@{/shopping-cart/clean}">
                                    <button>Clean cart</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>