<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <table>
                <tbody>
                <tr th:each="product : ${products}">
                    <td><img class="img-thumbnail" th:src="${product.base64Image}" width="200"></td>
                    <td th:text="${product.name}">product name</td>
                    <td th:text="${product.size}">product size</td>
                    <td th:text="'$'+${product.price}">product price</td>
                    <td th:text="${product.category?.name}">product category</td>
                    <td th:text="${product.description}">product description</td>
                </tr>
                </tbody>
            </table>
            <form  method="POST" action="/submit-order">
                    <div class="form-group mb-3 justify-content-center">
                        <label for="name" >Name: </label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="Name" required/>
                    </div>
                    <div class="form-group mb-3 justify-content-center">
                        <label for="surname" >Surname: </label>
                        <input class="form-control" type="text" id="surname" name="surname" placeholder="Surname"  required/>
                    </div>
                    <div class="form-group mb-3 justify-content-center">
                        <label for="address">Address: </label>
                        <input class="form-control" type="text" id="address" name="address" placeholder="Address"  required/>
                    </div>
                    <div class="form-group mb-3 justify-content-center">
                        <label for="email">E-mail: </label>
                        <input class="form-control" type="text" id="email" name="email" placeholder="E-mail" required/>
                    </div>
                    <div class="form-group mb-3 justify-content-center">
                         <label for="phoneNumber">Phone number: </label>
                         <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone number" required/>
                    </div>
                    <div>
                        <label class="radio-inline" for="card">Pay with card
                            <input  name="payType" type="radio" id="card" value="card">
                        </label>
                        <label class="radio-inline" for="cash">Pay in cash
                            <input  name="payType" type="radio" id="cash" value="cash">
                        </label>
                    </div>
                    <div class="form-group mb-3 justify-content-center">
                        <button class="btn btn-block btn-danger" type="submit">Submit order</button>
                    </div>
            </form>
        </div>
    </div>
</th:block>