<th:block xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h3 class="jumbotron-heading">
                <th:block th:text="${ordersType} "></th:block>
                orders for
                <th:block th:if="${username}" th:text="${username}"></th:block>
            </h3>
        </div>
    </section>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12" th:each="order: ${orders}">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Description</th>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${order.products}">
                            <td><img class="img-thumbnail" th:src="${product.base64Image}" width="100"></td>
                            <td th:text="${product.name}">product name</td>
                            <td th:text="${product.size}">product size</td>
                            <td th:text="'$'+${product.price}">product price</td>
                            <td th:text="${product.category?.name}">product category</td>
                            <td th:text="${product.description}">product description</td>
                        </tr>
                        <tr>
                            <td>ORDER DETAILS</td>
                            <td>Name: <th:block th:text="${order.name}"></th:block></td>
                            <td>Surname: <th:block th:text="${order.surname}"></th:block></td>
                            <td>Address: <th:block th:text="${order.address}"></th:block></td>
                            <td>Phone: <th:block th:text="${order.phoneNumber}"></th:block></td>
                            <td>Total price: <th:block th:text="${order.total}"></th:block> </td>
                        </tr>
                        <tr>
                            <td>Order number: <th:block th:text="${order.orderNumber}"></th:block></td>
                            <td>Order status: <th:block th:text="${order.orderStatus}"></th:block></td>
                            <td>
                                <form method="POST"
                                      th:if="${#strings.equals(order.orderStatus, 'PENDING')}"
                                      th:action="@{'/shopping-cart/cancel-order/{number}' (number=${order.orderNumber})}">
                                    <button>Cancel order</button>
                                </form>
                            </td>
                            <td>
                                <form method="GET"
                                      th:action="@{'/pdf/{number}' (number=${order.orderNumber})}">
                                    <button>PDF</button>
                                </form>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>